workflows/financial-news-summary.json
[{"createdAt":"2025-09-17T19:45:18.999Z","updatedAt":"2025-09-17T22:01:26.000Z","id":"2wucHZI8y2GvXOgq","name":"Financial News Summary","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"https://www.ft.com/","options":{"timeout":10000}},"id":"4fd322eb-2343-4c29-be6a-4318dc5f94e4","name":"Fetch Financial News Webpage\t","type":"n8n-nodes-base.httpRequest","position":[-48,336],"notesInFlow":true,"typeVersion":4.2,"notes":"Url : https://www.ft.com/"},{"parameters":{},"id":"9db3fc85-29c3-47d8-b17d-230613cd3a21","name":"Delay to Ensure Page Load\t","type":"n8n-nodes-base.wait","position":[192,336],"webhookId":"adff7750-f9b0-4796-915d-9c28dcc878b0","typeVersion":1.1},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"Headline #1","cssSelector":"#site-content > div:nth-child(1) > section > div > div > div.layout-desktop__grid.layout-desktop__grid--span4.layout-desktop__grid--column-start-1.layout-desktop__grid--row-start-1.layout-desktop__grid--with-border.layout--default > div > div > div > div.story-group-stacked__primary-story > div > div > div > div > div.primary-story__teaser"},{"key":"Headline #2","cssSelector":"#site-content > div:nth-child(1) > section > div > div > div.layout-desktop__grid.layout-desktop__grid--span6.layout-desktop__grid--column-start-5.layout-desktop__grid--row-start-1.layout-desktop__grid--with-border.layout--default > div > div > div > div > div > div.story-group__article.story-group__article--featured > div > div.featured-story-content > div.headline.js-teaser-headline.headline--scale-5.headline--color-black > a > span"},{"key":"Editor's Picks","cssSelector":"#site-content > div:nth-child(1) > section > div > div > div.layout-desktop__grid.layout-desktop__grid--span2.layout-desktop__grid--column-start-11.layout-desktop__grid--row-start-1.layout--default > div"},{"key":"Top Stories","cssSelector":"#site-content > div:nth-child(3) > section > div","skipSelectors":"h2"},{"key":"Spotlight","cssSelector":"#site-content > div:nth-child(6) > section","skipSelectors":"h2"},{"key":"Various News","cssSelector":"#site-content > div:nth-child(8) > section","skipSelectors":"h2"},{"key":"Europe News","cssSelector":"#site-content > div:nth-child(13) > section","skipSelectors":"h2"}]},"options":{"cleanUpText":true}},"id":"ba5912e3-38ef-4f92-9a21-3b9f501a3db4","name":"Extract News Headlines & Text\t","type":"n8n-nodes-base.html","position":[400,336],"notesInFlow":true,"typeVersion":1.2,"notes":"Extract selected headlines, editor's picks, spotlight etc."},{"parameters":{"assignments":{"assignments":[{"id":"5412a5ee-dbbe-4fcc-98a5-6fafc37b94d1","name":"All data","type":"string","value":"=News :\n{{ $json['Headline #1'] }}\n\n\n\nFinancial news :\n\n{{ $('Extract News Headlines & Text\t').item.json['Headline #1'] }};\n\n{{ $('Extract News Headlines & Text\t').item.json['Headline #2'] }};\n\n{{ $('Extract News Headlines & Text\t').item.json['Editor\\'s Picks'] }};\n\n{{ $('Extract News Headlines & Text\t').item.json['Top Stories'] }};\n\n{{ $('Extract News Headlines & Text\t').item.json.Spotlight }};\n\n{{ $('Extract News Headlines & Text\t').item.json['Various News'] }};\n\n{{ $('Extract News Headlines & Text\t').item.json['Europe News'] }};\n\n"}]},"options":{}},"id":"5725f7fb-771d-4338-8b2b-4e1deeb2c30d","name":"Clean Extracted News Data\t","type":"n8n-nodes-base.set","position":[624,336],"typeVersion":3.4},{"parameters":{"promptType":"define","text":"=Summarise this news :\n\n{{ $json['All data'] }}","options":{"systemMessage":"You are an AI financial analyst. Your role is to read, understand, and summarize key financial news from today. The goal is to provide investors with a clear and concise market overview to support better investment decisions.\n\n\nInvestor Outlook\nToday’s news points to [bullish/bearish/neutral] sentiment. Watch for [economic event/earnings report] tomorrow, which could influence market direction.\n"}},"id":"1b2a8f81-5f68-4cc0-8de1-7499e5a7f494","name":"AI Financial News Summarizer\t","type":"@n8n/n8n-nodes-langchain.agent","position":[848,336],"typeVersion":1.6},{"parameters":{"fromEmail":"xyz@gmail.com","toEmail":"abc@gmail.com","subject":"Today's News","emailFormat":"text","text":"={{ $json.output }}","options":{}},"id":"be125e70-f995-4556-839b-7b49db95f5bf","name":"Email Daily Financial Summary\t","type":"n8n-nodes-base.emailSend","position":[1216,336],"webhookId":"5ca3faf6-d857-4d58-8676-90e392fa9cc2","typeVersion":2.1},{"parameters":{"model":"llama3.2:1b","options":{}},"id":"cd4af3e5-91ba-4cfd-8232-8bdebcf248c1","name":"LLM Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOllama","position":[928,544],"typeVersion":1,"credentials":{"ollamaApi":{"id":"0XFLYlLEONe4yBMC","name":"Ollama account"}}},{"parameters":{"content":"📌 **Try It Out!**\n\nThis workflow auto-fetches top financial headlines, cleans the content, and uses AI to summarize it into a short investor-friendly email.\n\n🧠 Ideal for: Market analysts, finance teams, or daily newsletters.\n\n**Powered by:** n8n + LLM (Ollama) + Email Node.\n","height":320,"width":320,"color":5},"id":"0c1d54d0-672f-4ae3-b377-63f6f8553148","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[320,-96],"typeVersion":1},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-400,336],"id":"22413ef6-0b9f-4a8f-867d-9c71a837c0e8","name":"When clicking ‘Execute workflow’"}],"connections":{"LLM Chat Model":{"ai_languageModel":[[{"node":"AI Financial News Summarizer\t","type":"ai_languageModel","index":0}]]},"Clean Extracted News Data\t":{"main":[[{"node":"AI Financial News Summarizer\t","type":"main","index":0}]]},"Delay to Ensure Page Load\t":{"main":[[{"node":"Extract News Headlines & Text\t","type":"main","index":0}]]},"AI Financial News Summarizer\t":{"main":[[]]},"Fetch Financial News Webpage\t":{"main":[[{"node":"Delay to Ensure Page Load\t","type":"main","index":0}]]},"Extract News Headlines & Text\t":{"main":[[{"node":"Clean Extracted News Data\t","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Fetch Financial News Webpage\t","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"7eedc2c0-bccb-4632-b79d-fa5edbdfbbdf","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-09-17T21:20:22.657Z","updatedAt":"2025-09-17T21:20:22.657Z","role":"workflow:owner","workflowId":"2wucHZI8y2GvXOgq","projectId":"Bf6ilT0KuSSpXYAN","project":{"createdAt":"2025-09-17T21:20:20.066Z","updatedAt":"2025-09-17T21:23:23.619Z","id":"Bf6ilT0KuSSpXYAN","name":"Iyappan Subramanian <admin@gmail.com>","type":"personal","icon":null,"description":null}}]}]