workflows/news-research-summarization-ollama-searxng.json
[{"createdAt":"2025-09-30T21:46:53.704Z","updatedAt":"2025-10-01T21:59:38.000Z","id":"thCH8PI4KaEH9NCZ","name":"News Research and Summarization AI Agent using Ollama and SearXNG copy","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[224,-128],"id":"c5e13ca5-6194-459e-b5f4-ade727d633b5","name":"When chat message received","webhookId":"c44f7714-a411-44d9-8059-96595888f9a3"},{"parameters":{"options":{"systemMessage":"You are a news research assistant. Your task is to conduct research on a specific topic provided via chat message. Use the web_search tool to find recent, relevant news articles and credible sources related to the topic. Extract key information from the search results, such as article titles, summaries, publication dates, and source names, using the HTML node to parse web content effectively. Prioritize high-quality, reputable sources (e.g., major news outlets, academic sites, or government publications) and ensure the information is up-to-date. Summarize the findings in a clear, concise, and organized manner, presenting the most relevant details about the topic. If the topic is vague or broad, ask for clarification to narrow the scope. Provide citations or links to the original sources when possible. Avoid speculation or unverified information."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[512,-128],"id":"fb542f88-d7f6-43e1-8840-473bc311d2c5","name":"AI Agent"},{"parameters":{"model":"llama3.2:1b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[448,96],"id":"8a5aa054-013a-46ce-8976-da7d8357e1b2","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"0XFLYlLEONe4yBMC","name":"Ollama account"}}},{"parameters":{"url":"http://searxng:8080/","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $('When chat message received').item.json.chatInput }}"},{"name":"format","value":"json"}]},"options":{},"optimizeResponse":true},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[576,96],"id":"bda9806e-4d94-47f8-9d67-0e43365dc1d6","name":"web_search"},{"parameters":{"descriptionType":"manual","toolDescription":"use this tool to find out the current date and time.","options":{}},"id":"883778a1-1821-45d1-ad62-5962513eecb0","name":"get_current_date","type":"n8n-nodes-base.dateTimeTool","position":[704,96],"typeVersion":2},{"parameters":{"content":"## **Set up steps**\n\n1.  **Select the Language Model (LLM):** This workflow is pre-configured with Google Gemini. You can select a different model for the agents as needed.\n2.  **Configure LLM Credentials:** Ensure that valid credentials for your chosen LLM are correctly set up within your n8n instance.\n3.  **Set Up the SearXNG Connection:** Configure the node to connect to your self-hosted SearXNG instance. This enables the agent's web search capabilities.\n4.  **Define the Research Agent's Task:** Customize the system prompt for the \"Research Agent\" to define its role, instructions, and how it should conduct its research.\n5.  **Define the Sentiment Analysis Agent's Task:** Adjust the system prompt for the \"Sentiment Analysis Agent\" to specify how it should analyze the information provided by the Research Agent.\n6.  **Test the Workflow:** Use the built-in chat interface in the n8n canvas to send a message and verify that the agents are functioning correctly.","height":520,"width":380},"id":"526316bf-132b-446e-8cc1-5a336cb97d5d","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-288,-176],"typeVersion":1}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"web_search":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"get_current_date":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"37a19275-acd2-4889-80f3-5b6516f2192c","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-10-01T20:49:12.394Z","updatedAt":"2025-10-01T20:49:12.394Z","role":"workflow:owner","workflowId":"thCH8PI4KaEH9NCZ","projectId":"AxgK0JHVhAyiG5Ww","project":{"createdAt":"2025-10-01T20:49:05.757Z","updatedAt":"2025-10-01T21:58:46.512Z","id":"AxgK0JHVhAyiG5Ww","name":"S I <admin@gmail.com>","type":"personal","icon":null,"description":null}}]}]